.body{
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(195, 201, 199, 0.602);
}
.main{
  margin-left: 20px;
  margin-right: 20px;
}
.h1{
  text-align: center;
}
.navbar-ul{ 
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin:0px;
  overflow: hidden;
}
.navbar-a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar-a:hover{
  background-color: hsl(0, 14%, 93%);
  color: #535353;
}
.navbar-li{
  float: left;
}

.svg{
 margin: 13px;
}
/*detta är inklistrat från uppgiften*/
.nav a.active {
  background-color: #52B788;
  color: white;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.info {
  padding-left: 15px;
}  
